| Inicio de Sesión | <br>| Caso | Inicio de sesión válido |
<br>| Entrada | Correo y contraseña correctos |
<br>| Esperado y Obtenido | Esperado: Acceso permitido al sistema y redirección a la pantalla principal del paciente.<br>Obtenido: El sistema verifica el acceso. El acceso es válido e ingresa al sistema en la pantalla principal. |
<br>| Estado | Correcto |

